html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: rgb(118,231,255);
    background: radial-gradient(circle, rgba(118,231,255,1) 0%, rgba(99,169,255,1) 76%)  no-repeat fixed center; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  canvas {
    outline: 1px solid white;
    max-width: 100%;
    max-height: 100%;
    /*
    set aspect-ratio to canvas width/height
    */
    aspect-ratio: 640/480;
  }