html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: rgb(118,231,255);
    background: radial-gradient(circle, rgba(118,231,255,1) 0%, rgba(99,169,255,1) 76%)  no-repeat fixed center; 
    align-items: center;
    justify-content: center;
  }

  canvas {
    position: relative;
    outline: 1px solid white;
    aspect-ratio: 1/1;
  }

  #infoButton {
    position: absolute;
    top:auto;
    right: 10px;
    z-index: 1000;
    font-size: 15px;
  }

  h1{
    color: azure;
    text-shadow: 1em;
}

#placeholder1 {
    height: 10px;
} 
#placeholder2 {
    height: 10px;
} 

#placeholder3 {
    height: 20px;
} 
#placeholder4 {
    height: 30px;
} 
#placeholder5 {
    height: 30px;
} 

.circle-container {

    display: flex;
    justify-content: center;
  }
.circle-container-right {
    margin: auto;
    display: inline-block;
    justify-content: end;
   
}
.circle-container-left{
    margin: auto;
    display: inline-block;
    justify-content: center;
}
  

#circle-happy {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-image:url("happy.png"),linear-gradient(0deg, #ffff00 100%, #3f48cc00 0%);
    background-clip: padding-box;
    background-size: cover;
}

#circle-surprised {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-image:url("surprised.png"), linear-gradient(0deg, #e809bf 100%, #3f48cc00 0%);
    background-clip: padding-box;
    background-size: cover;
  }

  #circle-sad {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-image:url("sad.png"), linear-gradient(0deg, #091fe8 100%, #3f48cc00 0%);
    background-clip: padding-box;
    background-size: cover;
  }

  #circle-disgusted {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-image:url("disgusted.png"), linear-gradient(0deg, #36e809 100%, #3f48cc00 0%);
    background-clip: padding-box;
    background-size: cover;
  }


  @media (min-width: 0px) and (min-height:0px){
    canvas{
        width: 50px;
        height: 50px;
    }
    h1{
        font-size: 10px;
    }
    #placeholder1,#placeholder3,#placeholder4,#placeholder5{
        height: 1px;
    }
    #placeholder2{
        height: 15px;
    }

    #start-button,#backButton{
        font-size: 5px;
    }
    #circle-happy,#circle-sad,#circle-surprised,#circle-disgusted{
        width: 0px;
        height: 0px;
        border:0px;
    
    }
    .video{
        width: 0px;
        height: 0px;
    }
    #infoButton{
        font-size: 4px;
    }
  }


@media (min-width: 120px) and (min-height:120px){
    canvas{
        width: 50px;
        height: 50px;
    }
    h1{
        font-size: 10px;
    }
    #placeholder1,#placeholder2,#placeholder3,#placeholder4,#placeholder5{
        height: 1px;
    }
    #start-button,#backButton{
        font-size: 5px;
    }
    #circle-happy,#circle-sad,#circle-surprised,#circle-disgusted{
        width: 0px;
        height: 0px;
        border:0px;
    
    }
    .video{
        width: 0px;
        height: 0px;
    }
    #infoButton{
        font-size: 4px;
    }
  }



@media (min-width: 144px) and (min-height:201px){
    canvas{
        width: 70px;
        height: 70px;
    } 
    #placeholder1{
        height: 5px;
    }
    #placeholder2{
        height: 5px;
    } 
    #placeholder3{
        height: 5px;
    } 

    h1{
        font-size: 10px;
    }
    #start-button,#backButton{
        font-size: 7px;
        width: 35px;
    }
    #infoButton{
        font-size: 5px;
        
    }

}

@media (min-width: 220px) and (min-height:316px){
    canvas{
        width: 200px;
        height: 200px;
    } 
    #placeholder1{
        height: 5px;
    }
    #placeholder2{
        height: 5px;
    } 
    #placeholder3{
        height: 10px;
    } 

    h1{
        font-size: 15px;
    }
    #start-button,#backButton,#infoButton{
        font-size: 7px;
        width: 35px;
    }
}

@media (min-width: 304px) and (min-height:316px) {
    canvas{
        width: 150px;
        height: 150px;
    } 
    #circle-happy,#circle-sad,#circle-surprised,#circle-disgusted{
        width: 30px;
        height: 30px;
        border:2px;
    }

    #placeholder1{
        height: 5px;
    }
    #placeholder2{
        height: 5px;
    } 
    #placeholder3{
        height: 10px;
    } 

    #placeholder5,#placeholder4{
        height: 5px;
    } 
    h1{
        font-size: 15px;
    }
    #start-button,#backButton,#infoButton{
        font-size: 7px;
        width: 35px;
    }
}


@media (min-width: 400px) and (min-height:393px) {
    canvas{
        width: 200px;
        height: 200px;
    } 
    #circle-happy,#circle-sad,#circle-surprised,#circle-disgusted{
        width: 50px;
        height: 50px;
        border:2px;
    }

    #placeholder1{
        height: 5px;
    }
    #placeholder2{
        height: 5px;
    } 
    #placeholder3{
        height: 10px;
    } 

    #placeholder5,#placeholder4{
        height: 5px;
    } 
    h1{
        font-size: 15px;
    }
    #start-button,#backButton,#infoButton{
        font-size: 10px;
        width: 40px;
    }
}


@media (min-width: 500px) and (min-height:445px) {
    canvas{
        width: 200px;
        height: 200px;
    } 
    #circle-happy,#circle-sad,#circle-surprised,#circle-disgusted{
        width: 60px;
        height: 60px;
        border:2px;
    }
    #placeholder1{
        height: 10px;
    }
    #placeholder2{
        height: 5px;
    } 
    #placeholder3{
        height: 20px;
    } 

    #placeholder5,#placeholder4{
        height: 10px;
    } 
    h1{
        font-size: 20px;
    }
    #start-button,#backButton,#infoButton{
        font-size: 10px;
        width: 40px;
    }
}
  
@media (min-width: 600px) and (min-height:507px) {
    canvas{
        width: 200px;
        height: 200px;
    } 
    #circle-happy,#circle-sad,#circle-surprised,#circle-disgusted{
        width: 60px;
        height: 60px;
        border:2px;
    }

    #placeholder1{
        height: 10px;
    }
    #placeholder2{
        height: 15px;
    } 
    #placeholder3{
        height: 20px;
    } 

    #placeholder5,#placeholder4{
        height: 10px;
    } 
    h1{
        font-size: 30px;
    }
    #start-button,#backButton,#infoButton{
        font-size: 15px;
        width: 55px;
    }
}

@media (min-width: 700px) and (min-height:664px) {
    canvas{
        width: 300px;
        height: 300px;
    } 
    #circle-happy,#circle-sad,#circle-surprised,#circle-disgusted{
        width: 80px;
        height: 80px;
        border:2px;
    }

    #placeholder1{
        height: 10px;
    }
    #placeholder2,#placeholder3,#placeholder4,#placeholder5{
        height: 20px;
    } 
    h1{
        font-size: 25px;
    }
    #start-button,#backButton,#infoButton{
        font-size: 20px;
        width: 70px;
    }
}

@media (min-width: 800px) and (min-height:731px) {
    canvas{
        width: 350px;
        height: 350px;
    } 
    #circle-happy,#circle-sad,#circle-surprised,#circle-disgusted{
        width: 100px;
        height: 100px;
        border:2px;
    }

    #placeholder1{
        height: 10px;
    }
    #placeholder2,#placeholder3,#placeholder4,#placeholder5{
        height: 20px;
    } 
    h1{
        font-size: 30px;
    }
    #start-button,#backButton,#infoButton{
        font-size: 20px;
        width: 70px;
    }
}

@media (min-width: 900px) and (min-height:850px) {
    canvas{
        width: 400px;
        height: 400px;
    } 
    #circle-happy,#circle-sad,#circle-surprised,#circle-disgusted{
        width: 100px;
        height: 100px;
        border:2px;
    }

    #placeholder1{
        height: 10px;
    }
    #placeholder2,#placeholder3,#placeholder4,#placeholder5{
        height: 20px;
    } 
    h1{
        font-size: 40px;
    }
    #start-button,#backButton,#infoButton{
        font-size: 25px;
        width: 85px;
    }
}

@media (min-width: 1000px) and (min-height:934px) {
    canvas{
        width: 450px;
        height: 450px;
    } 
    #circle-happy,#circle-sad,#circle-surprised,#circle-disgusted{
        width: 120px;
        height: 120px;
        border:2px;
    }
    #placeholder2,#placeholder3,#placeholder4,#placeholder5{
        height: 30px;
    } 
    h1{
        font-size: 40px;
    }
    #start-button,#backButton,#infoButton{
        font-size: 25px;
        width: 85px;
    }
}
@media (min-width: 1400px) and (min-height:1070px) {
    canvas{
        width: 500px;
        height: 500px;
    } 
    #circle-happy,#circle-sad,#circle-surprised,#circle-disgusted{
        width: 150px;
        height: 150px;
        border:2px;
    }
    #placeholder1,#placeholder2,#placeholder3,#placeholder4,#placeholder5{
        height: 30px;
    } 
    h1{
        font-size: 40px;
    }
    #start-button,#backButton,#infoButton{
        font-size: 30px;
        width: 90px;
    }
    

}