#track {
    visibility: hidden;
}

#trackingGridDiv {
    visibility: hidden;
}

#infoButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  font-size: 15px;
}

body {
    
    background: rgb(118,231,255);
    background: radial-gradient(circle, rgba(118,231,255,1) 0%, rgba(99,169,255,1) 76%)  no-repeat fixed center; 
}


h1{
    color: azure;
    text-shadow: 10px;
}

.circle-container { 
  width:100%;
  display: flex;
  justify-content: center;
}

#circle-happy {
 
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-image:url("happy.png"),linear-gradient(0deg, #ffff00 100%, #3f48cc00 0%);
    background-clip: padding-box;
    background-size: cover;
    
 
}

#circle-neutral{
  width: 50px;
  height: 50px;
  
  border: 2px solid black;
  border-radius: 50%;
  background-image:url("neutral.png"), linear-gradient(0deg, #9c958a 100%, #3f48cc00 0%);
  background-clip: padding-box;
  background-size: cover;
  
}

#circle-angry{
  width: 50px;
  height: 50px;
  
  border: 2px solid black;
  border-radius: 50%;
  background-image:url("angry.png"),linear-gradient(0deg, #fa3434 100%, #3f48cc00 0%);
  background-clip: padding-box;
  background-size: cover;
}

#circle-surprised {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  background-image:url("surprised.png"), linear-gradient(0deg, #e809bf 100%, #3f48cc00 0%);
  background-clip: padding-box;
  background-size: cover;
}

#circle-sad {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  background-image:url("sad.png"), linear-gradient(0deg, #091fe8 100%, #3f48cc00 0%);
  background-clip: padding-box;
  background-size: cover;
}

#circle-disgusted {
  width: 50px;
  height: 50px; 
  border: 2px solid black;
  border-radius: 50%;
  background-image:url("disgusted.png"), linear-gradient(0deg, #36e809 100%, #3f48cc00 0%);
  background-clip: padding-box;
  background-size: cover;
}


@media (min-width: 1000px){
  #placeholder1 {
    height: 40px;
  } 
}






.nodetection {
  animation: pulse 2s infinite;
  visibility: hidden;
  
}

@keyframes pulse {
  0% {
    color: rgb(255, 0, 0);
  }
  50%{
    opacity: 0.5;
  }
  100% {
    color: rgb(255, 0, 0);
  }
}



@media (min-height: 0px){
  #placeholder1 {
    height: 5px;
  } 
  #placeholder2 {
    height: 5px;
  } 
  #placeholder3 {
    height: 5px;
  }  
  #placeholder4{
    height: 5px;
  }
  #backButton,#start-button,#infoButton {
    font-size: 10px; 
}
}


@media (min-height: 620px){
#placeholder1,#placeholder2 {
  height: 5px;
} 
#placeholder3 {
  height: 10px;
} 
#placeholder4{
  height: 10px;
}
#backButton,#start-button,#infoButton {
    font-size: 15px; 
}

}

@media (min-height: 640px){
#placeholder1,#placeholder2 {
  height: 5px;
} 
#placeholder3 {
  height: 20px;
} 
#placeholder4{
  height: 20px;
}

}

@media (min-height: 677px){
  #placeholder1,#placeholder2 {
    height: 10px;
  } 
  #placeholder3 {
    height: 30px;
  } 
}

@media (min-height: 760px){
  #placeholder1 {
    height: 20px;
  } 
  #placeholder2 {
    height: 40px;
  } 
  #placeholder3 {
    height: 80px;
  } 
  #backButton,#start-button,#trackButton,#infoButton {
    font-size: 20px; 
}
}

@media (max-height: 570px){
#container2 {                 
  width: 320px;
 }
}

@media (max-height: 400px){
#container2 {                 
  width: 300px;
 }
 h1{
  font-size: 15px;
 }
}
@media (max-height: 330px){
#container2 {                 
  width: 200px;
 }
 h1{
  font-size: 15px;
 }
 #infoButton{
  font-size: 10px;
  
} 
}
@media (max-height: 300px){
#container2 {                 
  width: 100px;
 }
 h1{
  font-size: 10px;
 }
 #infoButton{
  font-size: 5px;
  
} 
}

@media (max-width: 273px){
  
#backButton,#start-button,#trackButton {
  font-size: 7px; 
}
}

@media (max-width: 330px){
  
#container2 {                 
  width: 200px;
 }
}
@media (max-width: 270px){
  
#container2 {                 
  width: 100%;
 }
}

@media (max-height: 200px){
  
  #backButton,#start-button {
    font-size: 5px; 
}
  }


  @media (min-height: 0px) and (min-width:0px){
    #circle-surprised, #circle-happy, #circle-sad, #circle-disgusted, #circle-neutral, #circle-angry{
      width: 10px;
      height: 10px;
    }
  }

  @media (min-height: 100px) and (min-width:55px){
    #circle-surprised, #circle-happy, #circle-sad, #circle-disgusted, #circle-neutral, #circle-angry{
      width: 40px;
      height: 40px;
    }
  }

@media (min-height: 200px) and (min-width:111px){
  #circle-surprised, #circle-happy, #circle-sad, #circle-disgusted, #circle-neutral, #circle-angry{
    width: 50px;
    height: 50px;
  }
}

@media (min-height: 350px) and (min-width:194px){
  #circle-surprised, #circle-happy, #circle-sad, #circle-disgusted, #circle-neutral, #circle-angry{
    width: 70px;
    height: 70px;
  }
}

@media (min-height: 400px) and (min-width:223px){
  #circle-surprised, #circle-happy, #circle-sad, #circle-disgusted, #circle-neutral, #circle-angry{
    width: 100px;
    height: 100px;
  }
}

@media (min-height: 500px) and (min-width:276px){
  #circle-surprised, #circle-happy, #circle-sad, #circle-disgusted, #circle-neutral, #circle-angry{
    width: 120px;
    height: 120px;
  }
}
@media (min-height: 600px) and (min-width:333px){
  #circle-surprised, #circle-happy, #circle-sad, #circle-disgusted, #circle-neutral, #circle-angry{
    width: 140px;
    height: 140px;
  }
}
@media (min-height: 700px) and (min-width:388px){
  #circle-surprised, #circle-happy, #circle-sad, #circle-disgusted, #circle-neutral, #circle-angry{
    width: 160px;
    height: 160px;
  }
}
@media (min-height: 800px) and (min-width:444px){
  #circle-surprised, #circle-happy, #circle-sad, #circle-disgusted, #circle-neutral, #circle-angry{
    width: 180px;
    height: 180px;
  }
}
@media (min-height: 900px) and (min-width:500px){
  #circle-surprised, #circle-happy, #circle-sad, #circle-disgusted, #circle-neutral, #circle-angry{
    width: 200px;
    height: 200px;
  }
}
@media (min-height: 1000px) and (min-width:555px){
  #circle-surprised, #circle-happy, #circle-sad, #circle-disgusted, #circle-neutral, #circle-angry{
    width: 220px;
    height: 220px;
  }
}

